*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    background-color: #85bc4667;
    position: relative;
}
.waves{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
}